<nz-layout style="height: 100vh;">
    <nz-content style="padding: 30vh 0;"> 
        <nz-card nzTitle="Registro" style="margin: 0 5vw;">
            <form [formGroup]="signin_form">           
                
                <nz-form-item>
                    <nz-form-control nzErrorTip="error">
                        <input 
                            type="text" 
                            nz-input 
                            placeholder="Nombre" 
                            formControlName="name"
                        />
                    </nz-form-control>
                </nz-form-item>
                
                <nz-form-item>
                    <nz-form-control nzErrorTip="error">
                        <input 
                            type="email" 
                            nz-input 
                            placeholder="Correo" 
                            formControlName="email"
                        />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzErrorTip="error">
                        <nz-input-group [nzSuffix]="suffixTemplate">
                            <input
                                [type]="password_visible ? 'text' : 'password'"
                                nz-input
                                placeholder="Contrasena"
                                formControlName="password"
                            />
                        </nz-input-group>
                        <ng-template #suffixTemplate>
                            <i nz-icon [nzType]="password_visible ? 'eye-invisible' : 'eye'" (click)="password_visible = !password_visible"></i>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzErrorTip="error">
                        <nz-input-group [nzSuffix]="suffixTemplate">
                            <input
                                [type]="password_visible ? 'text' : 'password'"
                                nz-input
                                placeholder="Repetir Contrasena"
                                formControlName="password_repeat"
                            />
                        </nz-input-group>
                        <ng-template #suffixTemplate>
                            <i nz-icon [nzType]="password_visible ? 'eye-invisible' : 'eye'" (click)="password_visible = !password_visible"></i>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                
                <nz-form-item nz-row class="register-area" style="float: right;" >
                    <nz-form-control>
                        <button nz-button nzType="primary" [disabled]="signin_form.invalid" (click)="signin()" [nzLoading]='loading'>
                            Registrar
                        </button>
                    </nz-form-control>
                </nz-form-item>      
                
                <nz-form-item>
                    <span>
                        <a [routerLink]="['/login']">Realizar login</a>
                    </span>
                </nz-form-item> 
            </form>
        </nz-card>
    </nz-content>
</nz-layout>
