<nz-card style="width:100%;" [nzCover]="coverTemplate">
    <nz-card-meta
        nzTitle="{{product.name}}"
        nzDescription="{{product.desciption}}">
    </nz-card-meta>
    <div nz-col style="margin-top: 10px;">
        <div style="padding: 10px 10px;">
            <div>
                <strong>Sku: </strong> {{product.sku}}
            </div>
            <div *ngIf="parent == 'cart'">
                <strong>Cantidad: </strong> {{product_cart.amount}}
            </div>
        </div>
        <div nz-row *ngIf="parent == 'board'">
            <button nz-button nzType="primary" nzBlock (click)="add.emit(product.id)" [disabled]='loading'>
                <i nz-icon nzType="shopping-cart"></i>
                Agregar
            </button>
        </div>
        <div *ngIf="parent == 'cart'" style="padding: 10px;">
            <div nz-row nzJustify="space-around">
                <button nz-button nzType="primary" (click)="decrement.emit(product_cart.id)" [disabled]='loading'>
                    <i nz-icon nzType="minus" nzTheme="outline"></i>
                </button>
                <button nz-button nzType="primary" (click)="increment.emit(product_cart.id)" [disabled]='loading'>
                    <i nz-icon nzType="plus" nzTheme="outline"></i>
                </button>
            </div>
            <button nz-button nzType="primary" nzBlock nzDanger (click)="remove.emit(product.id)" [disabled]='loading' style="margin-top: 20px;">
                <i nz-icon nzType="delete"></i>
                Eliminar
            </button>
        </div>
    </div>
</nz-card>
<ng-template #coverTemplate>
    <img alt="image" src="{{product.img}}" />
</ng-template>